PROJECT=drop
APEX=drop.localhost

POSTGRES_USER=drop
POSTGRES_PASSWORD=drop
POSTGRES_DB=drop

DATABASE_URL=postgresql://drop:drop@postgres:5432/drop
DATABASE_URL_WITH_SCHEMA=postgresql://drop:drop@postgres:5432/drop?schema=public

REDIS_PASSWORD=drop
REDIS_URL=redis://:drop@redis:6379

MEDIA_ROOT=/drop-media

API_BASE_URL=http://api.drop.localhost
VITE_API_BASE_URL=http://api.drop.localhost
